Repository Stainless5166/Dictat: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, type-check

eslint:
  name: ESLint (frontend)
  entry: bash -c 'cd frontend && npm run lint --if-present'
  language: system
  pass_filenames: false

prettier:
  name: Prettier (frontend)
  entry: bash -c 'cd frontend && npm run format --if-present'
  language: system
  pass_filenames: false

type-check:
  name: TypeScript type check
  entry: bash -c 'cd frontend && npm run type-check --if-present'
  language: system
  pass_filenames: false

Updates CLAUDE.md
  CLAUDE.md
  claude.md
Due: prettier

Update TODO.md and Test_Targets.md for consistency
  TODO.md
  Test_Targets.md
Due: prettier

updates CLAUDE.md to also tick off things on the ToDo list after work
  CLAUDE.md
Due: prettier

feat: implement comprehensive test infrastructure and authentication utilities
  app/core/config.py
  app/core/security.py
  app/models/audit_log.py
  pyproject.toml
  tests/conftest.py
  tests/unit/test_security_jwt.py
  tests/unit/test_security_password.py
  tests/unit/test_user_model.py
  uv.lock
Due: none

fix: update User.__repr__ to display role value instead of enum name
  app/models/user.py
Due: none

docs: add comprehensive TDD workflow to CLAUDE.md
  CLAUDE.md
Due: prettier

docs: mark Project Setup section as complete (5/5 tasks)
  TODO.md
Due: prettier

feat: complete Database Setup section (6/6 tasks)
  TODO.md
  alembic/versions/001_initial_schema.py
  scripts/seed_database.py
Due: prettier

feat: complete Authentication section (6/6 tasks)
  TODO.md
  app/api/v1/endpoints/auth.py
  app/schemas/__init__.py
  app/schemas/auth.py
  app/schemas/user.py
Due: prettier

feat: complete Authorization (OPA) section (5/5 tasks)
  TODO.md
  app/api/dependencies.py
  app/core/exceptions.py
  app/services/opa.py
  opa/policies/dictat_test.rego
Due: prettier

feat: complete File Storage (Docker Volumes) section (8/8 tasks)
  TODO.md
  app/services/storage.py
Due: prettier

feat: add SKIP_DOCKER_TESTS environment option for test flexibility
  .env.example
  app/core/config.py
  tests/conftest.py
  tests/unit/test_user_model.py
Due: none

docs: add comprehensive test and project status reports
  PROJECT_STATUS.md
  TEST_STATUS.md
Due: prettier

feat: implement complete dictation CRUD API endpoints
  app/api/v1/endpoints/dictations.py
  app/schemas/dictation.py
  app/schemas/transcription.py
Due: none

feat: implement complete transcription workflow API endpoints
  app/api/v1/endpoints/transcriptions.py
Due: none

docs: update TODO.md - mark Core API section as complete
  TODO.md
Due: prettier

feat: add comprehensive frontend API documentation and tooling
  app/core/config.py
  docs/frontend/API_REFERENCE.md
  docs/frontend/QUICK_START.md
  docs/frontend/api-client.ts
  docs/frontend/api-types.ts
  main.py
Due: eslint, prettier, type-check

feat: configure password hashing algorithm from settings
  app/core/security.py
  tests/unit/test_security_password.py
Due: none

feat: implement complete React frontend for Dictat
  TODO.md
  frontend/.env.example
  frontend/.eslintrc.cjs
  frontend/.prettierrc
  frontend/index.html
  frontend/postcss.config.js
  frontend/src/App.tsx
  frontend/src/components/AudioPlayer.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/components/Toast.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/hooks/useToast.tsx
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/DictationUpload.tsx
  frontend/src/pages/DoctorDashboard.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/MyWork.tsx
  frontend/src/pages/Register.tsx
  frontend/src/pages/SecretaryWorkQueue.tsx
  frontend/src/pages/TranscriptionEditor.tsx
  frontend/src/types/api-types.ts
  frontend/src/vite-env.d.ts
  frontend/tailwind.config.js
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Due: eslint, prettier, type-check

feat: build complete Svelte frontend for Dictat
  TODO.md
  frontend/.env.example
  frontend/.prettierrc
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/app.css
  frontend/src/app.html
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/auth/login/+page.svelte
  frontend/src/routes/auth/register/+page.svelte
  frontend/src/routes/dashboard/+page.svelte
  frontend/src/routes/dashboard/doctor/+page.svelte
  frontend/src/routes/dashboard/secretary/+page.svelte
  frontend/src/routes/dictations/[id]/+page.svelte
  frontend/src/routes/dictations/upload/+page.svelte
  frontend/src/routes/transcriptions/create/[id]/+page.svelte
  frontend/svelte.config.js
  frontend/tailwind.config.js
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: eslint, prettier, type-check

test: add comprehensive testing framework for frontend
  TODO.md
  frontend/.github/workflows/test.yml
  frontend/.gitignore
  frontend/TESTING.md
  frontend/e2e/auth.spec.ts
  frontend/e2e/dictations.spec.ts
  frontend/e2e/navigation.spec.ts
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/tests/helpers/mockApi.ts
  frontend/src/tests/helpers/testUtils.ts
  frontend/src/tests/setup.ts
  frontend/src/tests/unit/components/LoadingSpinner.test.ts
  frontend/src/tests/unit/components/Toast.test.ts
  frontend/src/tests/unit/stores/auth.test.ts
  frontend/src/tests/unit/stores/dictations.test.ts
  frontend/src/tests/unit/stores/toast.test.ts
  frontend/vitest.config.ts
Due: eslint, prettier, type-check

test: add comprehensive testing infrastructure and test coverage
  frontend/.gitignore
  frontend/TESTING.md
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/components/__tests__/AudioPlayer.test.tsx
  frontend/src/components/__tests__/ProtectedRoute.test.tsx
  frontend/src/components/__tests__/Toast.test.tsx
  frontend/src/hooks/__tests__/useToast.test.tsx
  frontend/src/pages/__tests__/DoctorDashboard.test.tsx
  frontend/src/pages/__tests__/Login.test.tsx
  frontend/src/test/mockData.ts
  frontend/src/test/mocks/handlers.ts
  frontend/src/test/mocks/server.ts
  frontend/src/test/setup.ts
  frontend/src/test/utils.tsx
  frontend/tests/e2e/authentication.spec.ts
  frontend/tests/e2e/doctor-workflow.spec.ts
  frontend/tests/e2e/secretary-workflow.spec.ts
  frontend/tests/fixtures/auth.ts
  frontend/vitest.config.ts
Due: eslint, prettier, type-check

docs: add comprehensive frontend implementation and demo guides
  DEMO_INSTRUCTIONS.md
  FRONTEND_TODO.md
  frontend/package-lock.json
Due: prettier

fix: resolve TypeScript configuration and build errors in frontend
  frontend/src/lib/api-client.ts
  frontend/src/routes/+page.svelte
  frontend/src/routes/dictations/[id]/+page.svelte
  frontend/src/routes/transcriptions/create/[id]/+page.svelte
  frontend/src/tests/helpers/mockApi.ts
  frontend/src/tests/helpers/testUtils.ts
  frontend/src/tests/setup.ts
  frontend/src/tests/unit/stores/dictations.test.ts
  frontend/src/tests/vitest.d.ts
  frontend/tsconfig.json
Due: eslint, prettier, type-check

feat: add @testing-library/jest-dom for test matchers
  frontend/package-lock.json
  frontend/package.json
  frontend/src/tests/setup.ts
Due: eslint, prettier, type-check

docs: update FRONTEND_TODO.md to reflect completion status
  FRONTEND_TODO.md
Due: prettier

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|json|md)$
  type-check: any of: \.(ts|tsx)$
